# BATEX-CI REPORTING SYSTEM - Configuration

# Server
NODE_ENV=development
PORT=5008

# Database PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=reporting_batex-ci
DB_USER=postgres
DB_PASSWORD=admin

# JWT Secret
JWT_SECRET="e79a7b9247d815873be913bb84c26b7a576bbc7eba55fef1dd945b21ce195c1494c65f05"
JWT_EXPIRE=1d

# Email Configuration (pour notifications)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=votre_email@gmail.com
EMAIL_PASSWORD=votre_mot_de_passe_app
EMAIL_FROM=noreply@batex-ci.com

# File Upload
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=5242880

# Frontend URL (pour CORS)
#FRONTEND_URL=http://localhost:5173
FRONTEND_URL=https://f746-154-118-146-238.ngrok-free.app

# Cron Schedule (pour rappels automatiques)
WEEKLY_REPORT_REMINDER=0 9 * * 5
MONTHLY_REPORT_REMINDER=0 9 28 * *
